/* ==========================================
   GLOBAL VARIABLES (Professional Practice)
========================================== */
:root {

  /* --primary: #ed5ab0; */
  --primary: linear-gradient(45deg, #F9A82F, #ffcc00);
  --primary-text: #F9A82F;
  /* --secondary: #3d56f0; */
  --secondary: #2F7F9D;
  ;
  --yellow: #fff000;
  --light-bg: #f9f9ff;
  --light: #fff;
  --text-dark: #000;
  --dark-gray: #2b2d2e;
  --transition: all 0.3s ease;
}

* {
  box-sizing: border-box;

}


html,
body {
  width: 100%;

}

body {
  background-color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #3f3f3f;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

}

.logo-img {
  height: 80px;
  width: auto;
}

/* ==========================================
   HERO SLIDER - UMANG STYLE
========================================== */

.hero-slider {
  position: relative;
}

.hero-slide {
  min-height: 90vh;
  height: auto;
  display: flex !important;
  align-items: center;
  position: relative;
}

.slide1,
.slide2,
.slide3 {
  width: 100%;
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

/* Background Images */
.slide1 {
  background-image: url("/images/hero1.webp");
}

.slide2 {
  background-image: url("/images/hero2.webp");
}

.slide3 {
  background-image: url("/images/hero3.webp");
}

/* ==========================================
   HERO SLIDER BASE
========================================== */

.swiper-button-prev svg,
.swiper-button-next svg {
  height: 80%;
 width:90%;
  object-fit: contain;
  transform-origin: center;
  fill: currentColor;
  pointer-events: none;
}
.hero-slider {
  width: 100%;
}

/* Each slide */
.hero-slide {
  height: auto;
}

/* Images */
.hero-slide img {
  width: 100%;
  display: block;
}

/* ==========================================
   SWIPER ARROWS ( Circle Buttons)
========================================== */

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  width: 50px;
  height: 50px;
  background: var(--primary);
  border-radius: 50%;
  color: #fff;
  z-index: 10;
}

/* Arrow icon */
.hero-slider .swiper-button-prev::after,
.hero-slider .swiper-button-next::after {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}

/* Position */
.hero-slider .swiper-button-prev {
  left: 30px;
}

.hero-slider .swiper-button-next {
  right: 30px;
}

/* ==========================================
   SWIPER DOTS
========================================== */

.hero-slider .swiper-pagination {
  bottom: 30px !important;
}

.hero-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
  border-radius: 50%;
}

.hero-slider .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* ==========================================
   MOBILE FIX
========================================== */

@media (max-width: 768px) {

  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    top: auto !important;
    bottom: 15px !important;
    width: 45px;
    height: 45px;
  }

  /* center container behavior */
  .hero-slider .swiper-button-prev {
    left: calc(50% - 35px) !important;
    transform: translateX(0);
  }

  .hero-slider .swiper-button-next {
    left: calc(50% + 35px) !important;
    right: auto !important;
    transform: translateX(0);
  }
  
  .slide1,
  .slide2,
  .slide3 {
    align-items: start;
    min-height: 80vh;
  }

  .slide1 {
    background-image: url("/images/heromob3-r.webp");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

  }

  .slide2 {
    background-image: url("/images/heromob2-r.webp");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  .slide3 {
    background-image: url("/images/heromob4-r.webp");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

}

/* Light overlay like template */


.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero-left {
  max-width: 550px;
  animation: fadeUp 1s ease forwards;
}

.hero-left h2 {
  font-family: Abhaya Libre, serif;
  font-size: 70px;

  font-weight: 700;
  color: var(--secondary);
  margin-bottom: 25px;
}

.dark-text {
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 400;
  color: var(--text-dark) !important;
  line-height: 30px;
  font-family: Poppins;

}

/* ==========================================
   SWIPER DOTS (Pink Small Circles)
========================================== */

.hero-slider .swiper-pagination {
  bottom: 30px !important;
}

.hero-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
  border-radius: 50%;
}

.hero-slider .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* end */

.button-join {
  padding: 18px 60px;
  font-size: 15px;
  font-weight: 600;
  color: var(--light);
  background: var(--primary);
  border-radius: 40px;
  text-decoration: none;
  transition: all 0.4s ease;
  display: inline-block;
}

.button-join:hover {
  background: var(--secondary);
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  color: var(--light);
}



.gallery-col {
  width: 100% !important;
}

.hero-slider .swiper-button-prev {
  left: 30px;
}

.hero-slider .swiper-button-next {
  right: 30px;
}

/* Arrow icon */
.hero-slider .swiper-button-prev::after,
.hero-slider .swiper-button-next::after {
  font-size: 20px;
  color: var(--light);
}

/* ================================
   FLOATING IMAGE
================================ */

@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ==========================================
   TOP BAR
========================================== */

.link {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  color: var(--light) !important;
}

/* ==========================================
   MAIN NAVBAR
========================================== */
.main-navbar {
  background: var(--light-bg);
  padding: 18px 0;
  transition: var(--transition);
  position: sticky;
  top: 0;
  z-index: 999;
}

.main-navbar.scrolled {
  padding: 14px 0;
  box-shadow: 0 8px 30px #0000000d;
}

/* Button */
.main-btn {
  padding: 10px 30px;
  border-radius: 40px;
  background: var(--primary);
  color: var(--light);
  border: none;
  font-weight: 500;
  transition: var(--transition);
}

.main-btn:hover {
  background: var(--secondary);
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

/* Nav Links */
.navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 15px;
  font-family: "Poppins", sans-serif;
  position: relative;
  color: var(--dark-gray);
}

.navbar-nav .nav-link:hover {
  color: var(--primary);
}

/* Dropdown */
.custom-program-dropdown .dropdown-menu {
  background-color: var(--light-bg);
  border: 3px solid var(--secondary);
  border-radius: 0 20px 20px 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  padding: 10px 5px;
  min-width: 250px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.custom-program-dropdown .dropdown-item {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 22px;
  transition: 0.3s;
}

.custom-program-dropdown .dropdown-item:hover {
  font-weight: bold;

}

/* Remove toggle border */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ==========================================
   MOBILE RESPONSIVE (FIXED)
========================================== */
@media (max-width: 991px) {

  .navbar-nav {
    background: var(--light);
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
  }

  .navbar-nav .nav-link {
    padding: 12px 0;
  }

  .nav-btn {
    margin-top: 15px;
    margin-left: 0;
    display: inline-block;
  }

  /* Fix dropdown inside mobile */
  .custom-program-dropdown .dropdown-menu {
    position: static;
    box-shadow: none;
    border: none;
    margin-top: 5px;
    padding-left: 10px;
  }

  .navbar-collapse {
    transition: all 0.3s ease;
  }
}

/* section2 */
.dream-section {
  background: url("/src/assets/dream-bg.png") no-repeat center center/contain;
}


.heading {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 5px;
  font-family: Abhaya Libre, serif;
  font-weight: 700;
  color: var(--secondary);
}

.subheading {
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 300;
  color: var(--text-dark);
  line-height: 30px;
  font-family: Poppins;
}

.icon-bx-wraper {
  position: relative;
}

.sr-iconbox .icon-lg {
  width: auto;
}

.icon-lg {
  width: 80px;
}

.icon-xl,
.icon-lg,
.icon-md,
.icon-sm,
.icon-xs {
  display: inline-block;
  text-align: center;
}

.sr-iconbox .icon-lg img {
  height: auto;
}

.icon-lg img {
  height: 70px;
}

.icon-xl img,
.icon-lg img,
.icon-md img,
.icon-sm img,
.icon-xs img {
  vertical-align: middle;
  max-width: 100%;
  width: auto;
}

.icon-content {
  overflow: hidden;
}

.icon-bx-wraper .dlab-tilte {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .sr-iconbox .dlab-tilte {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }
}

.sr-iconbox .dlab-tilte {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 30px;
}

.info-card-heading {
  margin-top: 0;
  font-size: 25px;
  color: var(--primary-text);
  margin-bottom: 0px;
  font-family: Abhaya Libre, serif;
  font-weight: 900;
}

.info-card-text {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-dark);
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: 10px;
}


.section3 {
  position: relative;
  color: var(--light);
  background-attachment: fixed;
}

.section3:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--text-dark);
  /* dark overlay */
  z-index: 1;

  opacity: 0.5;
}

.section-divider img {
  max-width: fit-content;
}

.cold-heading {
  position: relative;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 5px;
  font-family: Abhaya Libre, serif;
  font-weight: 700;
  color: var(--yellow);
  z-index: 2;
}

.cold-subheading {
  position: relative;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 300;
  color: var(--light);
  line-height: 30px;
  font-family: Poppins;
  z-index: 2;
}

/* Gallery section */

.gallery-section {
  padding: 0px 20px;

}

/* Card */
.gallery-card {
  text-align: center;

}

.dlab-media:after {
  background-color: #191c0a;
}

/* Center arrow container */
.gallery-slider {
  position: relative;
}

.swiper {
  width: 100%;
  touch-action: pan-y;
}

.swiper-slide {
  height: auto !important;
}

.swiper-slide img {
  width: 100%;
  display: block;
}

.swiper-wrapper {
  overflow: hidden;
}

.slider-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* Slider container */
.gallery-slider {
  position: relative;
  padding-bottom: 80px;
  /* space for arrows */
}

.gallery-item {
  padding: 15px;
}

.gallery-item img {
  width: 100%;
  border-radius: 20px;
  border: 3px dashed var(--primary);
  transition: transform 0.5s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

/* Sprite arrows */
.sprite-arrow {
  width: 50px;
  height: 50px;
  background-image: url("/src/assets/arrow.png");
  /* your sprite */
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  transition: all 0.4s ease;
  z-index: 10;
}

/* Left arrow (centered area) */
.sprite-arrow.prev {
  left: 50%;
  transform: translateX(-60px);
  background-position: -53px 0;
}

.sprite-arrow.prev:hover {
  background-position: 0%;
}

/* Right arrow */
.sprite-arrow.next {
  left: 50%;
  transform: translateX(0);
  background-position: -104px 0;
}

/* Frame Wrapper */
.frame {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}



/* Inner Image */
.staff-card img {
  mask-image: url("/src/assets/image-frame2.png");
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.team-box {
  position: relative;
}

.dlab-thum {
  position: relative;
  overflow: hidden;
}

.overlay-bx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.team-box .team-info {
  font-size: 13px;
}

.team-box ul {
  margin-bottom: 0;
  margin-top: 10px;
}

.list-inline>li {
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
}

.team-box ul li a {
  width: 26px;
  height: 26px;
  color: #fff;
  display: block;
  border-radius: 30px;
  font-size: 12px;
  line-height: 26px;
  background: var(--primary);
}

.team-box:hover .overlay-bx {
  opacity: 1;
  visibility: visible;
}

.dlab-thum img {
  transition: transform 0.5s ease;
}

/* Blog */
.post-title {
  color: var(--dark-gray);
}

.post-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(104, 104, 104);
}

.btn-link {
  color: rgb(25, 25, 24);
  font-size: 18px;
  font-style: italic;
  display: inline-block;
  font-weight: 500;
  background: none 0px 0px repeat scroll rgba(0, 0, 0, 0);
  border-width: 0px;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
}

/* footer */
.footer-section {
  position: relative;
  background: #bde7f5;
  font-family: sans-serif;
}

/* Wave border */
.footer-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: url("/assets/bg1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Container */
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 8%;
  flex-wrap: wrap;
}

.footer-text {
  font-size: 18px;
  line-height: 32px;
  color: rgb(25, 25, 24);
  text-transform: capitalize;
  font-weight: 300;
}

/* Columns */
.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-col h5 {
  font-size: 21px;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* ================= LIST STYLE (THEME STYLE) ================= */

.footer-col ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 10px;
}

.footer-col ul li {
  position: relative;
  padding: 8px 0 8px 18px;
}

/* Custom bullet */
.footer-col ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--secondary);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-60%);
}

.footer-col ul li a {
  text-decoration: none;
  transition: 0.2s;
  color: #191918;
}

.footer-col ul li a:hover {
  color: var(--primary);
  padding-left: 4px;
}

/* Recent posts */
.recent-item {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
}

.recent-item h6 {
  font-size: 15px;
  color: #000
}

.recent-item p {
  padding: 0;
  display: inline-block;
  color: var(--secondary);
  font-size: 15px;

}

/* Newsletter */
.newsletter input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 40px;
  margin-bottom: 20px;
}

.newsletter button {
  width: 160px;
  padding: 14px;
  border-radius: 40px;
  border: none;
  background: var(--primary);
  color: var(--light);
  font-weight: bold;
  cursor: pointer;
}

/* Social icons */
.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 18px;
  font-size: 18px;
  color: var(--secondary);
}

.footer-bottom {
  background-color: #c4eafb;
  padding: 40px 0;
  color: #191d21;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.text-right {
  text-align: right;
}

.footer-bottom ul {
  margin: 0;
}

.list-inline>li {
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
}

.btn-link {
  color: rgb(25, 25, 24);
  font-size: 18px;
  font-style: italic;
  display: inline-block;
  font-weight: 500;
  background: none 0px 0px repeat scroll rgba(0, 0, 0, 0);
  border-width: 0px;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
}

.footer-bottom .btn-link {
  color: var(--secondary);
  font-size: 18px;
}


/* Floating buttons
.floating-buttons {
  position: fixed;
  left: 20px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.float-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #1fd5c5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
} */

/* Copyright */
.copyright {
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #555;
}

@media (max-width:768px) {
  .main-navbar {
    padding: 0px 0px
  }

  .hero-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .hero-left {
    max-width: 100%;
  }

  .hero-buttons {
    justify-content: center;
  }

}

/* Responsive */
@media(max-width:768px) {
  .footer-container {
    flex-direction: column;
  }

  /* .floating-buttons {
    bottom: 40px;
  } */
}

/* Frame image */
.frame-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* ABOVE image */
  pointer-events: none;
  /* important */
}

.staff-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.fa-search {
  color: var(--light);
  font-size: 40px
}

/* ================================
   RESPONSIVE (Very Important)
================================ */
@media (max-width: 1400px) {
  .section3 {
    background-size: cover;
    background-position: 250% 90%;
    background-attachment: fixed;
  }
}

@media (max-width: 1200px) {
  .feature-section {
    padding: 0px 0;
  }

  .hero-left h2 {
    font-size: 55px;
    line-height: 60px;
  }

  .section3 {
    background-size: cover;
    background-position: 250% 90%;
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  .hero-left {
    max-width: 100%;
  }



  .hero-left p {
    font-size: 16px;
  }

  .hero-buttons {
    justify-content: center;
  }


  .section3 {
    background-attachment: scroll;
    background-position: center;
  }
}


/* Tablet */


/* Mobile ⭐ Important */
@media(max-width:768px) {
  .section3 {
    background-position: 80% top;

    background-size: cover;
    background-attachment: unset;
  }


}

@media(max-width:576px) {

  .hero-left h2 {
    font-size: 28px;
    line-height: 34px;
  }

  .dark-text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px
  }

}

@media (max-width: 576px) {
  .topbar {
    display: none;
  }

  .hero-slide {

    padding: 0px 20px;
    margin-bottom: 10px;
  }

  .heading {
    font-size: 30px;
    line-height: 35px;
  }

  .subheading {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;

  }

  .hero-left h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0px;
  }

  .button-join {
    padding: 14px 40px;
  }

  .topbar-inner {
    flex-direction: column;
    gap: 5px;
  }

  .cold-heading {

    font-size: 28px;
    line-height: 40px;
    margin-bottom: 0;

  }

}

.cold-subheading {
  font-size: 14px;
  line-height: 20px;
}

/* Overlay */

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;

}

.gallery-card:hover .overlay {
  visibility: visible;
  opacity: 0.5;
}

.footer-logo {
  height: 100px;

  width: auto;
}

.cute-input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #2F7F9D;
  font-size: 14px;
}

.cute-input:focus {
  border-color: #F9A82F;
  box-shadow: 0 0 6px #F9A82F;
}

.cute-btn {
  width: 100%;
  margin-top: 15px;
  background: linear-gradient(45deg, #F9A82F, #ffcc00);
  border: none;
  padding: 12px;
  border-radius: 15px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

/* playful icons */
.cute-btn:hover {
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: end;
}

.social-icons a {
  background: #ffe4ec;
  /* soft pink */
  padding: 5px 12px;
  border-radius: 30%;
  font-size: 22px;
  color: #ff6b81;
  transition: all 0.3s ease;
}

/* Different colors for each */
.social-icons a:nth-child(1) {
  background: #e3f2fd;
  color: #1877f2;
  /* Facebook blue */
}

.social-icons a:nth-child(2) {
  background: #fff0f5;
  color: #e1306c;
  /* Instagram pink */
}

.social-icons a:nth-child(3) {
  background: #e0f7fa;
  color: #0077b5;
  /* LinkedIn blue */
}

/* Hover effect */
.social-icons a:hover {
  transform: scale(1.2) rotate(8deg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .social-icons {
    display: flex;
    justify-content: start;
  }
}

/* Overlay */
/* Overlay (blur + allow scroll) */
.custom-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: rgba(0, 0, 0, 0.4);

  /* ✨ blur effect */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal box */
.custom-modal {
  position: relative;
  /* ✅ FIX (remove absolute) */

  width: 90%;
  max-width: 450px;

  /* ✅ Control height properly */
  max-height: 80vh;

  /* ✅ Scroll only if needed */
  overflow-y: auto;

  border-radius: 20px;
  padding: 25px;
  border: 4px solid #F9A82F;

  background: linear-gradient(135deg, #fff7e6, #e6f7ff);

  /* ✨ smooth animation */
  animation: popupFade 0.3s ease;
}

/* Animation */
@keyframes popupFade {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Wrapper */
.modal-content-wrapper {
  text-align: center;
  position: relative;
}

/* Close button */
.close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background: none;
  color: var(--primary-text);
  font-size: 18px;
  cursor: pointer;
}

/* Title */
.modal-title {
  color: #2F7F9D;
  margin-bottom: 5px;
}

/* Subtitle */
.modal-subtitle {
  margin-bottom: 15px;
}

/* Form */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Error text */
.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

/* 📱 Tablet */
@media (max-width: 768px) {
  .custom-modal {
    padding: 20px;
  }
}

/* 📱 Mobile */
@media (max-width: 480px) {
  .custom-modal {
    width: 95%;
    padding: 15px;
    border-radius: 12px;
  }
}
