/* ================================
   GLOBAL
================================ */

/* ================================
   TOP BAR (Premium Look)
================================ */

.topbar {
  background: var(--primary);
  color: var(--light-text);
  font-size: 14px;
  padding: 10px 0;
  transition: all 0.3s ease;
}

.topbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  color: var(--light-text) !important;
  transition: var(--primary)
}

.link:hover {
  opacity: 0.8;
}

/* ================================
   NAVBAR (Like Umang)
================================ */

.main-navbar {
  background: var(--light-text);
  padding: 20px 0;
  transition: all 0.4s ease;
  position: sticky;
  top: 0;
  z-index: 999;
}

.main-navbar.scrolled {
  padding: 12px 0;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.logo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.logo-blue { color: var(--secondary); }
.logo-pink { color: var(--primary); }

.navbar-nav .nav-link {
  margin-left: 25px;
  font-size: 14px;
  padding: 30px 12px;
  font-weight: 600;
  font-family: Poppins;
  transition: all 0.3s ease;
   
}

.navbar-nav .nav-link:hover {
  color: var(--secondary) !important;
}
.navbar-nav .nav-link.active {
  color: var(--primary) !important;
   font-weight: 700;
  position: relative;
}




.nav-item-custom:hover .custom-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

.custom-dropdown a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  font-size: 17px;
  font-weight: 500;
  color: #222;
  transition: 0.3s ease;
}

.custom-dropdown a span {
  font-size: 20px;
  transition: 0.3s ease;
}

.custom-dropdown a:hover {
  color: var(--secondary);
  background: #f5f7ff;
}

.custom-dropdown a:hover span {
  transform: translateX(5px);
}

/* Chevron animation */
.nav-item-custom:hover .fa-chevron-down {
  transform: rotate(180deg);
  transition: 0.3s ease;
}

.custom-dropdown {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
    border: 2px solid var(--secondary);
    margin-top: 10px;
    box-shadow: none;
  }

